* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.img_logo {
    width: 117px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    height: 100%;
}

.item_menu {
    color: #004A8D;
    font-size: 18px;
    font-weight: 600;
    transition: 0.6s;
}

.item_menu:hover {
    color: #F7941D;
    cursor: pointer;
}


.info_nav {
    background-color: #004A8D;
    width: 100%;
    padding: 10px 0;
}

.info_nav_pag {
    list-style: none;
    color: #fff;
    display: flex;
    gap: 0.7rem;
    margin: 0 auto;
    width: 1000px;
    padding: 0 !important;
}

.info_nav_pag {
    list-style: none;
    color: #fff;
    display: flex;
    gap: 0.7rem;
    margin: 0 auto;
    width: 1200px;
    padding: 0 !important;
}